/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-fragment-amzn {
	border: 1px dotted #f00;
}

#wp-block-create-block-fragment-amzn-controls {
	input[type="text"] {
		width: 99.4%;
	}
	.wp-block-create-block-fragment-amzn-items {
		li {
			width: 49%;
			height: 256px;
			line-height: 114px;
			text-align: center;
			position: relative;
			overflow: hidden;
			display: inline-block;
			// float: left;
			margin: 0 5px 5px 0;
			img {
				height: auto;
				max-width: 100%;
				max-height: 100%;
				vertical-align: middle;
				margin-top: -4px;
			}
			.btn-area {
				padding-top: 42px;
				height: 114px;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				line-height: 1;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-ms-box-sizing: border-box;
				-o-box-sizing: border-box;
				box-sizing: border-box;
				text-align: center;
				button {
					height: 30px;
					background: #eee;
					color: #666;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					-ms-border-radius: 3px;
					-o-border-radius: 3px;
					border-radius: 3px;
					padding: 0 15px;
					border: none;
					display: none;
				}
			}
			.btn-area:hover button {
				display: inline-block!important;
				cursor: pointer;
			}
		}
		li:nth-child(2n) {
			margin: 0 0 5px 0;
		}
	}
	button.wp-block-create-block-fragment-amzn-next {
		height: 30px;
		background: #eee;
		color: #666;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		padding: 0 15px;
		border: solid 1px #999;
		display: block;
		margin: 0 auto 15px auto;
		width: 250px;
		cursor: pointer;
	}
}
