.settings_page_custom-fragment-amzn-config #wpcontent {
    padding-left: 0;
    .fragment-amzn-settings-header {
        text-align: center;
        margin: 0 0 1rem;
        background: #fff;
        border-bottom: 1px solid #dcdcde;
        .fragment-amzn-settings-title-section {
            display: flex;
            align-items: center;
            justify-content: center;
            clear: both;
            padding-top: 8px;
            h1 {
                display: inline-block;
                font-weight: 600;
                margin: 0 .8rem 1rem;
                font-size: 23px;
                padding: 9px 0 4px 0;
                line-height: 1.3;
            }
        }
        .fragment-amzn-settings-tabs-wrapper {
            display: -ms-inline-grid;
            -ms-grid-columns: 1fr 1fr;
            vertical-align: top;
            display: inline-grid;
            grid-template-columns: 1fr 1fr;
            .fragment-amzn-settings-tab {
                display: block;
                text-decoration: none;
                color: inherit;
                padding: .5rem 1rem 1rem;
                margin: 0 1rem;
                transition: box-shadow .5s ease-in-out;
            }
            .fragment-amzn-settings-tab.active {
                box-shadow: inset 0 -3px #3582c4;
                font-weight: 600;
            }
        }
    }
    .fragment-amzn-settings-body {
        max-width: 800px;
        margin: 0 auto;
        .tools-fragment-amzn-page th {
            min-width: 160px;
        }
        input[type="text"] {
            min-width: 320px;
        }
    }
}